@import "tailwindcss";
@import "flowbite-react/plugin/tailwindcss";
@source "../.flowbite-react/class-list.json";

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    min-width: 320px;
    background-color: #020617;
}